DATADIR="/Users/alison/Documents/dphil/data/hazGAN"
PROCDIR="/Users/alison/Documents/dphil/data/hazGAN/processing"
TRAINDIR="/Users/alison/Documents/dphil/data/hazGAN/training"
GENDIR="/Users/alison/Documents/dphil/data/hazGAN/generated"
MANGROVE_DIR="/Users/alison/Documents/dphil/data/hazGAN/mangroves"
MANGROVES="/Users/alison/Documents/dphil/data/gmw-v3-2020.nosync/gmw_v3_2020_vec.gpkg"
FIGDIR="/Users/alison/Documents/dphil/data/hazGAN/figures"